<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>

        <script>
            $(document).ready(function() {
                // This function gets cookie with a given name
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
                // The functions below will create a header with csrftoken
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                function sameOrigin(url) {
                    // test that a given url is a same-origin URL
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
            });
        </script>

        {% block head %}
        {% endblock %}
        <title>Prosobeast Annotation Tool</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <p>
                        <h1 style="text-transform: capitalize; font-weight: bold; font-size: 23px; color: 	#28a5e0; text-indent: 10px;">
                            <img src="{{ url_for('static', filename='favicon.png') }}" style="width:50px; height:50px;" alt="awesome_logo">
                            Prosobeast Annotation Tool
                        </h1>
                    </p>
                </div>
                <div class="col-4">
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script>

        function to_green(element){
            element.removeClass("bg-danger");
            element.removeClass("btn-danger");
            element.removeClass("border-danger");
            element.addClass("bg-success");
            element.addClass("btn-success");
            element.addClass("border-success");
        };

        function to_red(element){
            element.removeClass("bg-success");
            element.removeClass("btn-success");
            element.removeClass("border-success");
            element.addClass("bg-danger");
            element.addClass("btn-danger");
            element.addClass("border-danger");
        };
        
        function to_gray(element){
            element.removeClass("bg-success");
            element.removeClass("btn-success");
            element.removeClass("border-success");
            element.removeClass("bg-danger");
            element.removeClass("btn-danger");
            element.removeClass("border-danger");
        };

        function gray_to_blue(element){
            element.removeClass("btn-secondary");
            element.removeClass("bg-secondary");
            element.removeClass("border-secondary");
        };

        function blue_to_gray(element){
            element.addClass("btn-secondary");
            element.addClass("bg-secondary");
            element.addClass("border-secondary");
        };

        function upload_formdata_ajax(fd, url, element, span, uploaded){
            $.ajax({
                url: url,
                type: "POST",
                data: fd,
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                success: function(response) {
                    console.log(response)
                    span.text(response);
                    if (response == "Success!"){
                        to_green(element)
                        span.removeClass("text-danger");
                        span.addClass("text-success");
                        uploaded = true;
                    } else {
                        to_red(element)
                        span.removeClass("text-success");
                        span.addClass("text-danger");
                        uploaded = false;
                    };
                },
                error: function(jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage); // Optional
                    span.text(errorMessage);
                    to_red(element)
                    span.removeClass("text-success");
                    span.addClass("text-danger");
                    uploaded = false;
                }
            });
            console.log(uploaded);
            return uploaded 
        };

    </script>
    {% block endscript %}
    {% endblock %}
</html>
